PyYaml
attrs
SQlAlchemy
sqlalchemy_repr
#jsonschema
voluptuous
kitchen
pubmarine >= 0.3
straight.plugin

# Need a version newer than 0.4.7
#twiggy > 0.4.7
-e git+https://github.com/wearpants/twiggy#egg=Twiggy

urwid > 1.3.1
