alembic
attrs
jsonschema
kitchen
passlib
pubmarine >= 0.3
# These are extracted from the 1.4.0 version of libpwquality
# Need the pwquality library and header files installed in order to install
https://toshio.fedorapeople.org/python/pwquality-1.4.0.tar.gz
PyYaml
SQlAlchemy
sqlalchemy_repr
straight.plugin

# Need a version newer than 0.4.7
#twiggy > 0.4.7
-e git+https://github.com/wearpants/twiggy#egg=Twiggy

urwid > 1.3.1
voluptuous
